/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

/*estilos generales*/
html {
  background-color: #FFF2E0; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1px;
  height: 100px;
  background-color: #77885b;
  font-size: 7px; }
  header .navbar {
    background-color: #77885b; }
  header .navbar .container-fluid img {
    border: 4.5px double #667474; }
  header li .color-link {
    color: #151513;
    font-size: 18px;
    text-align: center; }
  header li .nav-link {
    color: #FFF2E0; }

main {
  background-color: #FFF2E0;
  margin-top: 30%; }

footer {
  background-color: #77885b;
  display: flex;
  justify-content: center;
  font-size: 14px;
  height: 15px;
  position: fixed;
  bottom: 0px;
  width: 100%; }

/*estilos de home*/
.mainAbout .abouth1, .mainProjects .projectsh1, .mainResume .resumeh1, .mainContact .contacth1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold; }

.home .indexh2, .mainResume .resumeh2, .mainContact .contacth2 {
  text-align: center;
  font-weight: bold; }

.mainAbout .aboutP {
  margin: 15px;
  font-size: 18px;
  padding: 25px;
  gap: 5px; }

.home {
  color: #2e3031; }
  .home .indexh1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    text-align: center; }
  .home .indexh2 {
    font-size: 27px;
    margin: 5px;
    padding: 10px; }
  .home .contentMainHome .parrafoIndex1 {
    margin: 15px;
    font-size: 18px;
    text-align: center;
    padding: 30px; }
  .home .contentMainHome .parrafoIndex2 {
    margin: 15px;
    font-size: 18px;
    text-align: center;
    padding: 30px; }
  .home .contentMainHome .imgHome {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
    height: 250px;
    padding: 10%; }

/*estilos de about me*/
.mainAbout .abouth1, .mainProjects .projectsh1, .mainResume .resumeh1, .mainContact .contacth1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold; }

.home .indexh2, .mainResume .resumeh2, .mainContact .contacth2 {
  text-align: center;
  font-weight: bold; }

.mainAbout .aboutP {
  margin: 15px;
  font-size: 18px;
  padding: 25px;
  gap: 5px; }

.mainAbout {
  color: #2e3031; }
  .mainAbout .abouth1 {
    padding: 20px;
    text-align: center; }
  .mainAbout .aboutP {
    text-align: center; }

/*estilos de projects*/
.mainAbout .abouth1, .mainProjects .projectsh1, .mainResume .resumeh1, .mainContact .contacth1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold; }

.home .indexh2, .mainResume .resumeh2, .mainContact .contacth2 {
  text-align: center;
  font-weight: bold; }

.mainAbout .aboutP {
  margin: 15px;
  font-size: 18px;
  padding: 25px;
  gap: 5px; }

.mainProjects {
  color: #2e3031; }
  .mainProjects .projectsh1 {
    padding: 20px;
    text-align: center; }
  .mainProjects .grillaProjects {
    display: flex;
    flex-direction: column;
    margin: 10%; }
    .mainProjects .grillaProjects .descripcionProject {
      text-align: center;
      font-weight: bold; }
  .mainProjects .contenedorImgProject1 .imgProjects {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 3%;
    border: 3px solid #77885b; }
  .mainProjects .contenedorImgProject2 .imgProjects {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 3%;
    border: 3px solid #77885b; }
  .mainProjects .contenedorImgProject3 .imgProjects {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 3%;
    border: 3px solid #77885b; }
  .mainProjects .contenedorImgProject4 .imgProjects {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 3%;
    border: 3px solid #77885b; }

/*estilos de resume*/
.mainResume {
  color: #2e3031; }
  .mainResume .sectionResume {
    margin: 3%; }
  .mainResume .resumeh1 {
    padding: 20px;
    text-align: center; }
  .mainResume .resumeh2 {
    text-align: left;
    font-size: 25px; }

/*estilos de contact*/
.mainAbout .abouth1, .mainProjects .projectsh1, .mainResume .resumeh1, .mainContact .contacth1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold; }

.home .indexh2, .mainResume .resumeh2, .mainContact .contacth2 {
  text-align: center;
  font-weight: bold; }

.mainAbout .aboutP {
  margin: 15px;
  font-size: 18px;
  padding: 25px;
  gap: 5px; }

.mainContact {
  color: #2e3031; }
  .mainContact .contacth1 {
    padding: 20px;
    text-align: center; }
  .mainContact .contacth2 {
    margin: 7%; }
  .mainContact .contenedorContactos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; }
  .mainContact .medioContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; }

/*MQ*/
/*MQ de tablet*/
@media screen and (min-width: 600px) {
  /*home tablet*/
  .home {
    margin-top: 20%; }
    .home .contentMainHome .parrafo1 .parrafoIndex1 {
      font-size: 20px; }
    .home .contentMainHome .parrafo2 .parrafoIndex2 {
      font-size: 20px; }
    .home .contentMainHome {
      display: grid;
      justify-content: center;
      grid-template-columns: 50% 35%;
      grid-template-rows: 40% 40%;
      row-gap: 10%;
      grid-template-areas: "parrafo-uno imgHome" "parrafo-dos parrafo-dos"; }
      .home .contentMainHome .parrafo1 {
        grid-area: parrafo-uno; }
      .home .contentMainHome .imgHome {
        grid-area: imgHome; }
      .home .contentMainHome .parrafo2 {
        grid-area: parrafo-dos; }
  /*about me tablet*/
  .mainAbout {
    margin-top: 20%; }
    .mainAbout div .aboutP {
      font-size: 20px; }
  /*projects tablet*/
  .mainProjects {
    margin-top: 20%; }
    .mainProjects .grillaProjects {
      display: flex;
      flex-direction: column; }
      .mainProjects .grillaProjects .descripcionProject {
        font-size: 20px; }
    .mainProjects .contenedorImgProject1, .mainProjects .contenedorImgProject2, .mainProjects .contenedorImgProject3, .mainProjects .contenedorImgProject4 {
      margin: 3% 0%; }
  /*resume tablet*/
  .mainResume {
    margin-top: 20%; }
    .mainResume .sectionResume .resumeh2 {
      display: flex;
      align-items: flex-start;
      margin-left: 20px; }
    .mainResume .sectionResume {
      margin: 5%; }
    .mainResume div ul li {
      font-size: 18px; }
  /*contact tablet*/
  .mainContact {
    margin-top: 20%; }
    .mainContact .contenedorContactos {
      margin: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .mainContact .contenedorContactos .contactp {
      font-size: 20px; }
    .mainContact .contacth2 {
      margin: 5%; } }

/*MQ de desktop*/
@media screen and (min-width: 1024px) {
  /*home desktop*/
  .home {
    margin-top: 10%; }
    .home .indexh1 {
      display: flex;
      align-items: flex-start;
      font-size: 40px;
      font-weight: 900;
      margin-left: 40px;
      padding: 25px; }
    .home .indexh2 {
      font-size: 30px;
      display: flex;
      align-items: flex-start;
      margin-left: 40px;
      padding: 25px; }
    .home .contentMainHome {
      margin: 1%;
      display: grid;
      justify-content: center;
      grid-template-columns: 40% 40%;
      grid-template-rows: 40% 40%;
      grid-template-areas: "parrafo-uno imgHome" "parrafo-dos parrafo-dos"; }
      .home .contentMainHome .parrafo1 {
        grid-area: parrafo-uno;
        margin-bottom: 25px; }
      .home .contentMainHome .imgHome {
        grid-area: imgHome;
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
      .home .contentMainHome .parrafo2 {
        grid-area: parrafo-dos; }
    .home .contentMainHome .parrafo1 .parrafoIndex1 {
      font-size: 25px; }
    .home .contentMainHome .parrafo2 .parrafoIndex2 {
      font-size: 25px; }
  /*about me desktop*/
  .mainAbout {
    margin-top: 10%; }
    .mainAbout .abouth1 {
      display: flex;
      align-items: flex-start;
      margin-left: 40px;
      padding: 25px; }
    .mainAbout div .aboutP {
      margin-left: 40px;
      font-size: 25px;
      gap: 5px; }
  /*projects desktop*/
  .mainProjects {
    margin-top: 10%; }
    .mainProjects .projectsh1 {
      display: flex;
      align-items: flex-start;
      margin-left: 40px;
      padding: 25px; }
    .mainProjects .grillaProjects {
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "proyecto-uno proyecto-dos" "proyecto-tres proyecto-cuatro"; }
      .mainProjects .grillaProjects .contenedorImgProject1 {
        grid-area: proyecto-uno;
        margin: 3%; }
      .mainProjects .grillaProjects .contenedorImgProject2 {
        grid-area: proyecto-dos; }
      .mainProjects .grillaProjects .contenedorImgProject3 {
        grid-area: proyecto-tres; }
      .mainProjects .grillaProjects .contenedorImgProject1 {
        grid-area: proyecto-cuatro; }
      .mainProjects .grillaProjects .descripcionProject {
        font-size: 25px; }
  /*resume desktop*/
  .mainResume {
    margin-top: 10%; }
    .mainResume .resumeh1 {
      display: flex;
      align-items: flex-start;
      margin-left: 40px; }
    .mainResume .sectionResume .resumeh2 {
      display: flex;
      align-items: flex-start;
      margin-left: 35px; }
    .mainResume .sectionResume .contenedorExperiencia {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
    .mainResume div ul {
      margin-left: 50px; }
    .mainResume div ul li {
      font-size: 20px;
      margin: 1% 0%; }
  /*contact desktop*/
  .mainContact {
    margin-top: 10%; }
    .mainContact .contacth1 {
      display: flex;
      align-items: flex-start;
      margin-left: 40px;
      padding: 20px; }
    .mainContact .contacth2 {
      margin: 10%; }
    .mainContact .contenedorContactos {
      margin: 3%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10%; }
    .mainContact .medioContacto {
      margin: 2%; } }
