/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos generales*/
html {
  background-color: #FFF2E0; }

header {
  padding: 1px;
  height: 100px;
  background-color: #77885b;
  font-family: 'Comfortaa', cursive;
  font-size: 7px; }
  header .navbar {
    background-color: #77885b; }
  header .navbar .container-fluid img {
    border: 4.5px double #667474; }
  header li .color-link {
    color: #151513;
    font-size: 18px;
    text-align: center; }
  header li .nav-link {
    color: #FFF2E0; }

main {
  background-color: #FFF2E0; }

footer {
  background-color: #77885b;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  height: 15px;
  position: fixed;
  bottom: 0px;
  width: 100%; }

/*estilos de home*/
.home .indexh1, .mainAbout .abouth1, .mainProjects div .projectsh1, .mainResume .resumeh1, .mainContact .contacth1 {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold; }

.home .indexh2, .mainResume .resumeh2, .mainContact .contacth2 {
  margin: 5px;
  padding: 10px;
  font-weight: bold; }

.mainAbout .aboutP {
  margin: 15px;
  font-size: 18px;
  padding: 25px;
  gap: 5px; }

.home {
  font-family: 'Comfortaa', cursive, bold;
  color: #2e3031; }
  .home .indexh1 {
    text-align: center; }
  .home .indexh2 {
    font-size: 27px;
    text-align: center; }
  .home .contentMainHome .parrafoIndex1 {
    margin: 15px;
    font-size: 18px;
    text-align: center;
    padding: 30px; }
  .home .contentMainHome .parrafoIndex2 {
    margin: 15px;
    font-size: 18px;
    text-align: center;
    padding: 30px; }
  .home .contentMainHome .imgHome {
    margin-bottom: 50px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10%; }

/*MQ de tablet*/
/*MQ de desktop*/
@media screen and (min-width: 1024px) {
  .home .indexh1 {
    display: flex;
    align-items: flex-start;
    margin-left: 25px;
    padding: 30px; }
  .home .indexh2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 35px; }
  .home .contentMainHome {
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 40%;
    grid-template-areas: "parrafo-uno" "imgHome" "parrafo-dos" "parrafo-dos";
    gap: 5px; }
  .home .parrafo1 .parrafoIndex1 {
    background-color: yellow;
    grid-area: parrafo-uno; }
  .home .imgHome {
    grid-area: imgHome;
    margin: 0;
    padding: 0; }
  .home .parrafo2 .parrafoIndex2 {
    background-color: violet;
    grid-area: parrafo-dos; } }

/*estilos de about me*/
.home .indexh1, .mainAbout .abouth1, .mainProjects div .projectsh1, .mainResume .resumeh1, .mainContact .contacth1 {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold; }

.home .indexh2, .mainResume .resumeh2, .mainContact .contacth2 {
  margin: 5px;
  padding: 10px;
  font-weight: bold; }

.mainAbout .aboutP {
  margin: 15px;
  font-size: 18px;
  padding: 25px;
  gap: 5px; }

.mainAbout {
  font-family: 'Comfortaa', cursive, bold;
  color: #2e3031; }

/*MQ de tablet*/
/*MQ de desktop*/
@media screen and (min-width: 1024px) {
  .mainAbout div .aboutP {
    margin: 15px;
    font-size: 20px;
    padding: 25px;
    gap: 5px; } }

/*estilos de projects*/
.home .indexh1, .mainAbout .abouth1, .mainProjects div .projectsh1, .mainResume .resumeh1, .mainContact .contacth1 {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold; }

.home .indexh2, .mainResume .resumeh2, .mainContact .contacth2 {
  margin: 5px;
  padding: 10px;
  font-weight: bold; }

.mainAbout .aboutP {
  margin: 15px;
  font-size: 18px;
  padding: 25px;
  gap: 5px; }

.mainProjects {
  font-family: 'Comfortaa', cursive, bold;
  color: #2e3031;
  margin-bottom: 15%; }
  .mainProjects .grillaProjects {
    display: flex;
    flex-direction: column; }
  .mainProjects .contenedorImgProject .imgProjects {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .mainProjects .contenedorImgProject {
    margin: 5%;
    border: 2px solid #667474; }

/*estilos de resume*/
.mainResume {
  font-family: 'Comfortaa', cursive, bold;
  color: #2e3031; }
  .mainResume .resumeh2 {
    text-align: left;
    font-size: 25px; }
  .mainResume .sectionResume {
    margin: 10px 20px 30px 15px; }

/*MQ de tablet*/
/*MQ de desktop*/
@media screen and (min-width: 1024px) {
  .mainResume div ul li {
    font-size: 18px; } }

/*estilos de contact*/
.home .indexh1, .mainAbout .abouth1, .mainProjects div .projectsh1, .mainResume .resumeh1, .mainContact .contacth1 {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold; }

.home .indexh2, .mainResume .resumeh2, .mainContact .contacth2 {
  margin: 5px;
  padding: 10px;
  font-weight: bold; }

.mainAbout .aboutP {
  margin: 15px;
  font-size: 18px;
  padding: 25px;
  gap: 5px; }

.mainContact {
  font-family: 'Comfortaa', cursive, bold;
  color: #2e3031; }
  .mainContact .contacth1 {
    text-align: center; }
  .mainContact .contenedorContactos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; }
  .mainContact .medioContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; }

/*MQ de tablet*/
/*MQ de desktop*/
@media screen and (min-width: 1024px) {
  .contenedorContactos {
    display: flex;
    flex-direction: row; } }
