@import "../utilidades/variables";
@import "../utilidades/extend";
@import "../utilidades/mixin";

.mainAbout{
    font-family: 'Comfortaa', cursive, bold;
    color: $color-texto;
    .abouth1{
        @extend %tituloh1;
        padding: 20px;
        text-align: center;
    }
    .aboutP{
        @extend %parrafo-mobile;
    }

}

/*MQ de tablet*/

/*MQ de desktop*/
@media screen and (min-width: 1024px){
    .mainAbout{
        .abouth1{
            display: flex;
            align-items: flex-start;
            margin-left: 40px;
            padding: 25px;
        }
        div .aboutP{
            margin-left: 40px;
            font-size: 20px;
            gap: 5px;
        }
    }
}
