@import "../utilidades/variables";
@import "../utilidades/extend";
@import "../utilidades/mixin";

.mainAbout{
    font-family: 'Comfortaa', cursive, bold;
    color: $color-texto;
    .abouth1{
        @extend %tituloh1;
    }
    .aboutP{
        @extend %parrafo-mobile;
    }

}

/*MQ de tablet*/

/*MQ de desktop*/
@media screen and (min-width: 1024px){
    .mainAbout{
        div .aboutP{
            margin: 15px;
            font-size: 20px;
            padding: 25px;
            gap: 5px;
        }
    }
}
