@import "../utilidades/variables";
@import "../utilidades/extend";

.mainContact{
    color: $color-texto;
    .contacth1{
        @extend %tituloh1;
        padding: 20px;
        text-align: center;
    }
    .contacth2{
        @extend %tituloh2;
    }
    .contenedorContactos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .medioContacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    // no puedo ponerle espacio(gap) a la img
    //nav .contenedorContactos .medioContacto .imgContacto{
    //    gap: 30px;
    //}
}

/*MQ de tablet*/
@media screen and (min-width: 600px){
    .mainContact{
        .contenedorContactos{
            margin: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15%;
        }
        .contenedorContactos .contactp{
            font-size: 18px;
        }
    }
}

/*MQ de desktop*/
@media screen and (min-width: 1024px){
    .mainContact{
        .contacth1{
            display: flex;
            align-items: flex-start;
            margin-left: 40px;
            padding: 25px;
        }
        .contenedorContactos{
            margin: 3%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10%;}
        .medioContacto{
            margin: 2%;
        }
    }
}