@import "../utilidades/variables";
@import "../utilidades/extend";


.home{
    font-family: 'Comfortaa', cursive, bold;
    color: $color-texto;
    .indexh1{
        @extend %tituloh1;
        text-align: center;
    }
    .indexh2{
        @extend %tituloh2;
        font-size: 27px;
        text-align: center;
    }
    .contentMainHome .parrafoIndex1{
        margin: 15px;
        font-size: 18px;
        text-align: center;
        padding: 30px;
    }
    .contentMainHome .parrafoIndex2{
        margin: 15px;
        font-size: 18px;
        text-align: center;
        padding: 30px;
    }
    .contentMainHome .imgHome{
        margin-bottom: 50px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 10%;
    }
}

/*MQ de tablet*/

/*MQ de desktop*/
@media screen and (min-width: 1024px){
    .home{
        .indexh1{
            display: flex;
            align-items: flex-start;
            margin-left: 25px;
            padding: 30px;
        }
        .indexh2{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-left: 35px;
        }
        .contentMainHome{
            display: grid;
            justify-content: center;
            grid-template-columns: 40% 40% ;
            grid-template-rows: 40% 40%;
            grid-template-areas: 
            "parrafo-uno" "imgHome"
            "parrafo-dos" "parrafo-dos";
            gap: 5px;
        }
        .parrafo1 .parrafoIndex1{
            background-color: yellow;
            grid-area: parrafo-uno;
        }
        .imgHome{
            grid-area: imgHome;
            margin: 0;
            padding: 0;
        }
        .parrafo2 .parrafoIndex2{
            background-color: violet;
            grid-area: parrafo-dos;
        }
    }
}

    

