@import "../utilidades/variables";
@import "../utilidades/extend";


.home{
    font-family: 'Comfortaa', cursive, bold;
    color: $color-texto;
    .indexh1{
        @extend %tituloh1;
        padding: 20px;
        text-align: center;
    }
    .indexh2{
        @extend %tituloh2;
        font-size: 27px;
        margin: 5px;
        padding: 10px;
    }
    .contentMainHome .parrafoIndex1{
        margin: 15px;
        font-size: 18px;
        text-align: center;
        padding: 30px;
    }
    .contentMainHome .parrafoIndex2{
        margin: 15px;
        font-size: 18px;
        text-align: center;
        padding: 30px;
    }
    .contentMainHome .imgHome{
        margin-bottom: 50px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 10%;
    }
}

/*MQ de tablet*/
@media screen and (min-width: 600px){
    .home{
        .contentMainHome{
            display: grid;
            justify-content: center;
            grid-template-columns: 50% 35% ;
            grid-template-rows: 40% 40%;
            row-gap: 10%;
            grid-template-areas: 
            "parrafo-uno imgHome"
            "parrafo-dos parrafo-dos";
                .parrafo1{
                grid-area: parrafo-uno;
                }            
                .imgHome{
                grid-area: imgHome;
                }
                .parrafo2{
                grid-area: parrafo-dos;
                }
        }
    }

}
/*MQ de desktop*/
@media screen and (min-width: 1024px){
    .home{
        .indexh1{
            display: flex;
            align-items: flex-start;
            margin-left: 40px;
            padding: 25px;
        }
        .indexh2{
            display: flex;
            align-items: flex-start;
            margin-left: 40px;
            padding: 25px;
        }
        .contentMainHome{
            margin: 1%;
            display: grid;
            justify-content: center;
            grid-template-columns: 40% 40% ;
            grid-template-rows: 40% 40%;
            grid-template-areas: 
            "parrafo-uno imgHome"
            "parrafo-dos parrafo-dos";
                .parrafo1{
                grid-area: parrafo-uno;
                margin-bottom: 25px;
                }            
                .imgHome{
                grid-area: imgHome;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                }
                .parrafo2{
                grid-area: parrafo-dos;
                }
        }
        .contentMainHome .parrafo1 .parrafoIndex1{
            font-size: 20px;
        }
    }
}