@import "../utilidades/variables";
@import "../utilidades/extend";

.mainProjects{
    font-family: 'Comfortaa', cursive, bold;
    color: $color-texto;
    .projectsh1{
        @extend %tituloh1;
        padding: 20px;
        text-align: center;
    }
    .grillaProjects{
        display: flex;
        flex-direction: column;
    }
    .contenedorImgProject .imgProjects{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contenedorImgProject{
        margin: 5%;
        border: 2px solid $color-bordes;
    }
}

/*MQ de tablet*/

/*MQ de desktop*/
@media screen and (min-width: 1024px){
    .mainProjects{
        .projectsh1{
            display: flex;
            align-items: flex-start;
            margin-left: 40px;
            padding: 25px;
        }
     }
}