@import "../utilidades/variables";

.mainResume{
    font-family: 'Comfortaa', cursive, bold;
    color: $color-texto;
    .resumeh1{
        @extend %tituloh1;
        padding: 20px;
        text-align: center;
    }
    .resumeh2{
        @extend %tituloh2;
        text-align: left;
        font-size: 25px;
    }
    .sectionResume{
        margin: 3%;
    }
}

/*MQ de tablet*/

/*MQ de desktop*/
@media screen and (min-width: 1024px){
    .mainResume{
        .resumeh1{
            display: flex;
            align-items: flex-start;
            margin-left: 40px;
            padding: 25px;
        }
        .sectionResume .resumeh2{
            display: flex;
            align-items: flex-start;
            margin-left: 35px;
            padding: 25px;
        }
        div ul{
            margin-left: 50px;
        }
        div ul li{
            font-size: 18px;
        }
    }
}