//extend

%tituloh1{
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

%tituloh2{
    margin: 5px;
    padding: 10px;
    font-weight: bold;
}

%parrafo-mobile{
    margin: 15px;
    font-size: 18px;
    padding: 25px;
    gap: 5px;
}